In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('synthetic.csv')

In [3]:
data.head()

   lc  mcvc  tdhp  cavc  ir  ih  target
0   2     3     0     0   0   0       0
1   3     0     1     1   0   0       1
2   1     0     3     0   0   0       1
3   2     0     1     3   0   0       1
4   1     2     0     2   0   0       0

In [4]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [5]:
X.head()

   lc  mcvc  tdhp  cavc  ir  ih
0   2     3     0     0   0   0
1   3     0     1     1   0   0
2   1     0     3     0   0   0
3   2     0     1     3   0   0
4   1     2     0     2   0   0

In [6]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: target, dtype: int64

In [7]:
X = X.values
y = y.values

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [ ]:
sc.fit_transform(X_train)
sc.transform(X_test)

In [14]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=350)

In [15]:
rf.fit(X_train, y_train)

RandomForestClassifier(n_estimators=350)

In [16]:
y_pred = rf.predict(X_test)

In [17]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test, y_pred)

In [18]:
acc

0.64375

In [19]:
from joblib import dump
dump(sc,'normalize.joblib')
dump(rf,'model.joblib')

['model.joblib']